<!DOCTYPE html>
<html>
  <head>
    <title> File home </title>
  </head>
  <body>
    {% if username %} 
    <p>Welcome,  {{ username }} </p>
    {% endif %}
    <a href="/dosignout" >Click to sign out </a>
    <h1> Upload files </h1>
    <form action="/upload/" method="POST" enctype="multipart/form-data">{% csrf_token %}
      <input name="file" type="file"> </input>
      <input type="submit" value="Upload"> </input>
    </form>
    <hr />
    <h1> Download files </h1>
    {% if files %}
    <ul>
      {% for file in files %}
      <li>
	<h2> {{ file.filename }} </h2>
	<a href="/download?id={{ file.id }}" > Download </a>
      </li>
      {% endfor %}
    {% endif %}
    </ul>
  </body>
</html>

